<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3s Table</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
    <body>
    <table>
        <tbody id="table-body">
            <!-- Table content generated dynamically from JavaScript -->
        </tbody>
    </table>
    <button id="done-button">Done</button>

    <script src="{{ url_for('static', filename='buttons.js') }}"></script></body>
</html>
